.player2-container,
.player1-container {
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  height: 90px;
  width: 120px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: aquamarine;
  border: 1px solid black;
  padding: 1 rem;
}

.player1-rock,
.player2-rock {
  font-size: 50px;
  padding: 1rem;
}

.hide {
  display: none;
}
